.card-tv {
  position: relative;
  .card-overlay {
    background: rgba(000,000,000,0.5);
  }
  .card-title {
    font-size: 14px;
    color: rgba( 255,255,255,0.46 );
    margin-bottom: 0;
  }
  .card-description {
    font-size: 18px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.card-tv-video {
  display: flex;
  align-items: center;
  .card-media {
    margin-bottom: 0;
    img {
      max-width: 40px;
      width: 40px;
      height: 40px;
      object-fit: cover;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .card-body {
    padding: 21px 21px 28px;
    line-height: 20px;
    &-small {
      padding:0 11px;
    }
  }
}

.card-tv-chanel-video {
  display: flex;
  background: #B312D4;
  .card-media {
    margin-bottom: 0;
    img {
      max-width: 93px;
      width: 93px;
      height: 93px;
      object-fit: cover;
    }
  }
  .card-body {
    padding: 21px 21px 28px;
    line-height: 20px;
  }
}

//костыль временно

.list-slide-videos > *:nth-child(2){
  .card-tv-chanel-video {
    background: #7DB446;
  }
}
.list-slide-videos > *:nth-child(3){
  .card-tv-chanel-video {
    background: #DD7D35;
  }
}
.list-slide-videos > *:nth-child(4){
  .card-tv-chanel-video {
    background: #5DA1F1;
  }
}
.list-slide-videos > *:nth-child(5){
  .card-tv-chanel-video {
    background: #FF6679;
  }
}
.list-slide-videos > *:nth-child(6){
  .card-tv-chanel-video {
    background: #3CC4A5;
  }
}