<div class="siteFooter">
	<span class="footerText">© flickbin</span>
	<ul class="footerMenu">
		<li><%= link_to 'Cookies Policy', statics_path('cookies_policy') %></li>
		<li><%= link_to 'Privacy Policy', statics_path('privacy_policy') %></li>
		<li><%= link_to 'User Agreement', statics_path('user_agreement') %></li>
	</ul>
</div>
