<div class="siteFooter">
	<span class="footerText">© copyright flickbin, llc. all rights reserved.</span>
	<ul class="footerMenu">
		<li><a href="#">Cookies Policy</a></li>
		<li><a href="#">Privacy Policy</a></li>
		<li><a href="#">User Agreement</a></li>
	</ul>
</div>