<%= link_to "Browse All Tags", tags_path, class: "boldBlockLinks hideOnMobile" %>
<div class="leftTagsOuter">
  <a href="#" class="offCanvasBtn offCanvasBtnClose">&times;</a>
  <%= link_to "Browse All Tags", tags_path, class: "boldBlockLinks hideOnDesktop" %>

  <span class="tagsTitle">Trending Tags</span>
  <ul class="leftPanelTags tag-feed">
    <% @trending_tags.each do |trending_tag| %>
      <li>
        <%= link_to trending_tag.title, tag_path(trending_tag) %>
      </li>
    <% end %>
  </ul>
</div>

<%= javascript_include_tag('specific_by_templates/partials/trending_tags_bar') %>
