$grid-gap: 0 5px;

.grid-video {
  > * {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: $grid-gap;
    flex-basis: 100%;
    //box-shadow: 0 0 16px 0 rgba(49,180,176,1)
  }
}
.pulse {
  box-shadow: 0 0 0 rgba(49,180,176, 0.4);
  animation: pulse 3s;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


@media (min-width: 640px) {
  .grid-video {
    > * {
      flex-basis: 50%;
    }
  }
}

@media (min-width: 768px){
  .grid-video {
    > * {
      flex-basis: 100%;
    }
  }
}

@media (min-width: 960px) {
  .grid-video {
    > * {
      flex-basis: 50%;
    }
  }
}

@media (min-width: 1400px) {
  .grid-video {
    > * {
      flex-basis: 33.33%;
    }
  }
}