$icomoon-font-family: "flickbin" !default;

$icon-multiple-play: "\e900";
$icon-play-alt: "\e901";
$icon-play: "\e902";
$icon-playlist_add: "\e903";
$icon-message: "\e904";
$icon-bell: "\e905";
$icon-star: "\e906";
$icon-play_arrow: "\e907";
$icon-arrow_drop_up: "\e908";
$icon-check: "\e909";
$icon-flag: "\e90a";
$icon-chevron-down: "\e90b";
$icon-dailymotion: "\e90c";
$icon-twitch: "\e90d";
$icon-facebook: "\e90e";
$icon-facebook-official: "\e90f";
$icon-twitch-bold: "\e911";
$icon-youtube: "\ea9d";

