$icomoon-font-family: "birdy" !default;

$icon-facebook-official: "\e90f";
$icon-chevron-down: "\e908";
$icon-flag: "\e907";
$icon-check: "\e906";
$icon-twitch-3: "\e910";
$icon-twitch: "\e90a";
$icon-facebook-full-path1: "\e90b";
$icon-facebook-full-path2: "\e90c";
$icon-youtube-full-path1: "\e90d";
$icon-youtube-full-path2: "\e90e";
$icon-dailymotion: "\e909";
$icon-arrow_drop_up: "\e905";
$icon-playlist_add: "\e900";
$icon-message: "\e901";
$icon-bell: "\e902";
$icon-star: "\e903";
$icon-play_arrow: "\e904";

