$icomoon-font-family: "birdy" !default;

$icon-playlist_add: "\e900";
$icon-message: "\e901";
$icon-bell: "\e902";
$icon-star: "\e903";
$icon-play_arrow: "\e904";
$icon-arrow_drop_up: "\e905";
$icon-check: "\e906";
$icon-flag: "\e907";
$icon-chevron-down: "\e908";
$icon-dailymotion: "\e909";
$icon-twitch: "\e90a";
$icon-uniE90C: "\e90c";
$icon-facebook-official: "\e90f";
$icon-twitch-bold: "\e911";
$icon-youtube: "\ea9d";