/*
 *= require reset.scss
 *= require styles.scss
 *= require responsive.scss
 *= require_self
*/

.error {
  color: red;
}

.entityList > li:first-child > div.serialText {
  color: #31B4B0;
}

.voted {
  background-color: #4e5766;
  color:#31b4b0;
}

.inactiveDownVote {
  opacity: .5;
  pointer-events: none;
}

.technical_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.technical_info_item {
  color:#191717;
  font-size: 18px;
  font-weight: bold;
}

.flashNotification {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: #4E5766;
}
.flashError {
  background-color: #2FA9A5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 20px;
  padding: 22px 25px;
  font-weight: 400;
  z-index: 5;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.simpleFormErrorMsg {
  background-color: #2FA9A5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 20px;
  padding: 22px 25px;
  font-weight: 400;
  z-index: 5;
  width: 100%;
  position: relative;
  margin-top: 7px;
}

.simpleFormErrorMsg::before {
  position: absolute;
  top: -10px;
  left: 18px;
  content: '';
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #2FA9A5;
  display: inline-block;
}

.hidden { display: none !important; }

.top-margin-25 {
  margin-top: 25px;
}

