a { color:#31B4B0; text-decoration:none; word-wrap:break-word; cursor:pointer;}
a:hover { text-decoration:underline; color:#31B4B0;}
a:focus,
a:active { text-decoration:none; outline:none;}

h1, h2, h3, h4, h5, h6 { margin:0 0 20px; font-weight: 400;}
h1, .h1 { font-size:22px; line-height:28px;}
h2, .h2 { font-size:20px; line-height:24px;}
h3, .h3 { font-size:18px; line-height:24px;}
h4, .h4 { font-size:16px; line-height:24px;}
h5, .h5 { font-size:14px; line-height:24px;}

p { margin:0 0 20px;}

:focus { outline:none;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
}

.clearfix:before,
.clearfix:after,
.wrapper:before,
.wrapper:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.wrapper:after,
.row:after {
  clear: both;
}

/* Tools ------------------- */

.noPadding { padding:0 !important;}
.noLeftPadding { padding-left:0 !important;}
.noRightPadding { padding-right:0 !important;}
.noMargin { margin:0 !important;}
.noBorder { border:none !important;}
.paddingLeft20 { padding-left: 20px;}

.textAlignCenter { text-align:center;}
.textAlignLeft   { text-align:left;}
.textAlignRight  { text-align:right;}

.fLeft { float: left;}
.fRight { float: right;}

.strong { font-weight: 500 !important;}

.noMargin { margin: 0 !important; }
.noBottomMargin { margin-bottom: 0 !important; }
.bottom-margin-10 { margin-bottom: 10px !important; }
.bottom-margin-12 { margin-bottom: 12px !important; }
.bottom-margin-15 { margin-bottom: 15px !important; }
.bottom-margin-20 { margin-bottom: 20px !important; }
.bottom-margin-30 { margin-bottom: 30px !important;}
.bottom-margin-40 { margin-bottom: 40px !important;}
.bottomMargin50 { margin-bottom: 50px !important;}
.bottom-margin-60 { margin-bottom: 60px !important;}
.bottom-margin-70 { margin-bottom: 70px !important;}

.relative { position:relative;}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 white inset;
}

/* End Tools ----------------- */

/* Components ------------------------- */
.jq-dropdown {
    position: absolute;
    z-index: 1039;
    display: none;
    margin-top: 18px;
    left: -185px;
    animation-duration: 1s;
}
.jq-dropdown.onRightSide {
    left: -185px;
}
.jq-dropdown.push-left {
    margin-left: 10px;
}
.jq-dropdown.no-top-gap {
    margin-top: 0;
}
.jq-dropdown .jq-dropdown-menu,
.jq-dropdown .jq-dropdown-panel {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    min-width: 225px;
    max-width: 225px;
    background-color: #2FA9A5;
    overflow: visible;
    padding: 25px 15px 5px 15px;
    margin: 0;
}
.jq-dropdown .jq-dropdown-panel {
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
}
.reverseTheme.jq-dropdown .jq-dropdown-menu,
.reverseTheme.jq-dropdown .jq-dropdown-panel {
    background-color: #fff;
}
.jq-dropdown.jq-dropdown-tip {
    margin-top: 18px;
}
.jq-dropdown.jq-dropdown-tip::before {
    position: absolute;
    top: -7px;
    left: 9px;
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #2FA9A5;
    display: inline-block;
}
.jq-dropdown.jq-dropdown-tip::after {
    position: absolute;
    top: -6px;
    left: 10px;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #2FA9A5;
    display: inline-block;
}
.reverseTheme.jq-dropdown.jq-dropdown-tip::before,
.reverseTheme.jq-dropdown.jq-dropdown-tip::after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}
.jq-dropdown.jq-dropdown-tip.jq-dropdown-anchor-right::before {
    left: auto;
    right: 19px;
}
.jq-dropdown.jq-dropdown-tip.jq-dropdown-anchor-right::after {
    left: auto;
    right: 20px;
}
.jq-dropdown .jq-dropdown-divider {
    font-size: 1px;
    background-color:#3ABCB8;
    padding: 0;
    margin: 0 -15px 4px -15px;
    height: 1px;
    position: relative;
    overflow: hidden;
    display: block;
}
.reverseTheme.jq-dropdown .jq-dropdown-divider {
    background-color:#E5E7E9;
}
.jq-dropdown .jq-dropdown-menu,
.jq-dropdown .dropdown-menu {
    list-style: none;
    padding: 0;
}
.jq-dropdown .jq-dropdown-menu li > a,
.jq-dropdown .dropdown-menu li > a {
    display: block;
    color: #fff;
    line-height: 30px;
    padding: 15px;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2px;
    text-transform: capitalize;
}
.reverseTheme.jq-dropdown .jq-dropdown-menu li > a,
.reverseTheme.jq-dropdown .dropdown-menu li > a {
    color: #090A0B;
}
.jq-dropdown .jq-dropdown-menu li > a:hover,
.jq-dropdown .dropdown-menu li > a:hover {
    text-decoration: underline;
}
.jq-dropdown .dropdown-menu li > a.current:hover,
.jq-dropdown .dropdown-menu li > a.current:hover {
    background-color: #D4F8F7;
}
.jq-dropdown .jq-dropdown-menu li > a.current,
.jq-dropdown .dropdown-menu li > a.current {
    background-color: #ffffff;
    color: #31B4B0;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.reverseTheme.jq-dropdown .jq-dropdown-menu li > a.current,
.reverseTheme.jq-dropdown .dropdown-menu li > a.current {
    background-color: #4E5766;
    color: #fff;
}
.reverseTheme.jq-dropdown .dropdown-menu li > a.current:hover {
    background-color: #343B46;
}
.jq-dropdown .jq-dropdown-menu li > a.current,
.jq-dropdown .dropdown-menu li > a.current {
    font-weight: 400;
}
.vidRowContainer {
    float: left;
    margin-bottom: 40px;
}
.siteFooter {
    position:fixed;
    display: table;
    width: 100%;
    left: 0;
    bottom: -50;
    height: 50px;
    background: #F3F4F5;
    z-index: 111;
}
.siteFooterShow {
    bottom: 0;
}
.footerText {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 25px;
    color: #7D8188;
}
.footerMenu {
    display: table-cell;
    list-style-type: none;
    vertical-align: middle;
    text-align: right;
    padding-right: 25px;
    li {
        display: inline;
        padding-left: 15px;
    }
}
.sidebarBtn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    margin: 10px 0px;
    padding: 7px 12px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    background-color: #4E5766;
    border:1px solid #4E5766;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: none;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 12px 24px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    background-color: #4E5766;
    border:1px solid #4E5766;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: none;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    color: #fff;
    background-color: #31B4B0;
    text-decoration: none;
    outline: none;
    border: none;
}
.btn.btnSecondary {
    background-color: #7E889A;
    color: #fff;
    border: none;
}
.btn.btnSecondary:hover,
.btn.btnSecondary:focus,
.btn.btnSecondary:active,
.btn.btnSecondary.active {
    color: #fff;
    background-color: #31B4B0;
}
.btn.colorNoBg {
    background:none !important;
    color: #fff !important;
}
.btn.large {
    height: 68px;
    padding: 19px 30px;
    font-size: 17px;
    line-height: 30px;
}
.btn.medium {
    height: 50px;
    padding: 14px 18px;
    font-size: 14px;
}
.medium.border2x {
    border-width: 2px;
    padding: 13px 18px;
}
.btn.disabled,
.btn:disabled {
    cursor: not-allowed;
    border-color: #ced4da;
    background-color: #ced4da;
    color: #fff;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

a.btn:hover {
    text-decoration: none;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    display: inline-block;
    padding:28px 20px 10px 20px;
    font-size: 17px;
    line-height: 30px;
    height: 68px;
    font-style: italic;
    color: #657483;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    font-weight: 400;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 17px 0 rgba(21,23,26,0.22);
    -moz-box-shadow: 0 2px 17px 0 rgba(21,23,26,0.22);
    box-shadow: 0 2px 17px 0 rgba(21,23,26,0.22);
}
input[type="text"].block,
input[type="password"].block,
input[type="email"].block,
input[type="number"].block,
select.block {
    display: block;
    width: 100%;
}
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:actived,
input[type="password"]:focus,
input[type="password"]:active,
input[type="password"]:actived,
input[type="email"]:focus,
input[type="email"]:active,
input[type="email"]:actived,
input[type="number"]:focus,
select:focus,
select:active,
select:actived {
    background-color: #ffffff;
    outline: none;
}

.wrapper {
    position: relative;
    display: flex;
}
.leftPanel {
    min-height: 100%;
    background-color: #fafafa;
    padding: 0;
    min-width: 166px;
}
@media(max-width: 767px){
 .wrapper {
    flex-direction:column;
  }
  .leftPanel {
    min-height: auto;
  }
}
.leftPanel {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
.leftPanel::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}
.contentPanel {
    z-index: 2;
    background:#fff;
    width:100%;
    padding: 39px 37px 37px 36px;
}
.videoContentPanel {
    width: 100%;
    z-index: 2;
    padding: 39px 37px 37px 27px;
}
.brand {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 117px;
    height: 26px;
    background: url('/images/logo.png') no-repeat center center;
    margin: 36px auto;
    background-size: contain;
}
.sidebarBrand {

}
.boldLinks,
.boldBlockLinks {
    color: #090A0B;
    font-size: 16px;
    font-weight: 500;
}
.boldBlockLinks {
    display: block;
    text-align: center;
    margin-bottom: 32px;
}
.leftTagsOuter {
    padding: 32px 15px 15px 19px;
    border-top: 1px solid #EBEEF0;
}
.tagsTitle {
    display: block;
    padding: 2px 0 0 25px;
    margin-bottom: 10px;
    position: relative;
    color: #090A0B;
    font-size: 16px;
    font-weight: 500;
    background: url('/images/trending.png') no-repeat 0 0;
}
.leftPanelTags {
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0;
}
.leftPanelTags > li {
    padding: 9px 0;
}
.leftPanelTags a {
    display: block;
    color: #4D5056;
    line-height: 18px;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.leftPanelTags a:hover {
    color:#31B4B0;
}
.btnGroup {
    margin-bottom: 38px;
}
.btnGroup.btnGroupTagBrws {
    margin-bottom: 30px;
}
.btnGroup .btn {
    float: right;
    margin-left: 6px;
}
.btnFromLeft .btn {
    float: left;
    margin-right: 9px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.colHalf {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.seeAllLink {
    display: block;
    float: right;
    font-weight: 400;
    margin-top: 3px;
}

.colTitle {
    line-height: 24px;
}
.sideTitle {
    display: block;
    float: left;
    font-size:19px;
    font-weight: 400;
    margin-left: 10px;
}
.entityList {
    list-style: none;
    padding: 0;
    display: table;

}
.entityList .entityRow {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #E5E7E9;
    width: 100%;
}
.entityList.inTag .entityRow {
   border-bottom: 0;
   margin-bottom: 35px;
   padding-bottom: 0;
}
.entityList .entityRow:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}
.entityCell {
    display: table-cell;
    vertical-align: middle;
}
.entityCellStation {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.entityCellStation:nth-of-type(2n) {
    padding-left: 20px;
}
.thumbnailCell {
    vertical-align: top;
    width: 106px;
    height: 66px;
    overflow:hidden;
}
.thumbnail, .tagThumbnail, .stationThumbnail {
    position: relative;
    display: block;
}
.tagThumbnail, .stationThumbnail {
    width: 197px;
    height: 123px;
    margin-top: -20px;
}
.thumbnail {
    width: 149px;
    height: 93px;
    margin-top: -13px;
}
.thumbnailLink, .tagThumbnailLink, .stationThumbnailLink {
    position: relative;
    display: block;
    overflow: hidden;
}
.thumbnailLink {
    width: 106px;
    height: 66px;
}
.tagThumbnailLink, .stationThumbnailLink {
    width: 136px;
    height: 85px;
}
.thumbnail img {
    display: block;
    max-width: 100%;
}
.thumbnail.large {
    width: 136px;
    height: 85px;
}
.playerIcon {
    display: table-cell;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.playerIcon .fas {
    line-height: 66px;
    position: absolute;
    top: 50%;
    margin-top: -33px;
    left: 50%;
    margin-left: -5px;
}
.playerIcon:hover .fas {
    opacity: 0.8;
}
.serialText {
    color: #C1C8D6;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    width: 65px;
}
.tagNewest .serialText {
    width: 32px;
}
.cellSpace24 {
    width: 24px;
}
.serialText.active {
    color: #31B4B0;
}
.descText {
    line-height: 18px;
    color: #1D1F23;
    font-weight: 400;
}
.descText:hover {
    text-decoration: none;
}
.homeTitle {
    font-weight: 500;
}
.inTag .descText {
    font-size: 19px;
}
.loginBg {
    min-height: 110vh;
    background-size: cover;
    position: relative;
}
.loginBg::after {
    position: absolute;
    z-index: 1;
    background-color: #31B4B0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}
.loginSignupButtons {
    margin-top: 45px;
}
.loginAside {
    position: absolute;
    min-height: 100%;
    background-color: #fff;
    padding: 40px 45px 40px 40px;
    width: 46.3867%;
    z-index: 2;
}
.brand.inLogin {
    background: url('/images/logo.png') no-repeat top left;
    background-size: contain;
    margin: 15px 0 0 0;
}
.loginTitle {
	color: #1D1F23;
	font-size: 29px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 70px;
    margin-top: 30px;

}
.loginTitle span {
	color: #868B95;
	font-size: 17px;
    line-height: 20px;
    display: block;
}

.labelFields {
    position: relative;
    margin-bottom: 24px;
}
.labelFields label {
	color: #BAC2CA;
	font-size: 12px;
	font-weight: bold;
    line-height: 15px;
    position: absolute;
    left: 20px;
    top: 12px;
    text-transform: uppercase;
}
.forgotLinks {
    font-weight: 400;
    line-height: 42px;
    color: #4E5766;
}
.afterLoginBtns {
    float: right;
    list-style: none;
    padding: 0;
    margin: 3px 0 0 0;
}
.afterLoginBtns > li {
    float: left;
    margin-left: 17px;
    position: relative;
}
.afterLoginBtns > li:first-of-type {
    margin-left: 7px;
}
.profileDropdownHolder {
    margin-top: -7px;
}
.afterLoginBtns > li:hover .jq-dropdown,
.afterLoginBtns > li:focus .jq-dropdown,
.afterLoginBtns > li:active .jq-dropdown {
    display: block;
}
.postHoverTip {
    float: left;
    margin-top: 6px;
    color: #31B4B0;
    display: none;
}
.addCircle {
    width: 34px;
    height: 34px;
    display: block;
    border: 3px solid #4E5766;
    text-align: center;
    font-weight: 700;
    color: #4E5766;
    font-size: 28px;
    line-height: 28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.addCircle:hover {
    text-decoration: none;
    color: #31B4B0;
    border-color: #31B4B0;
}
.profileDropdown {
    position: relative;
    display: block;
}
.profileDropdown img {
    width: 44px;
    height: 44px;
    display: block;
    position: relative;
    z-index: 2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.profileDropdown::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    right: -7px;
    bottom: -7px;
    left: -7px;
    visibility: hidden;
    background-color: #E4E6EB;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.profileDropdown::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    bottom: -20px;
    z-index: 10;
}
.profileDropdown:hover::after,
.profileDropdown.jq-dropdown-open::after,
.afterLoginBtns > li:hover .profileDropdown::after {
    visibility: visible;
}
.searchBar {
    margin-bottom: 18px;
}
.searchBar.searchBarAppeared {
    margin-bottom: 12px;
}
.labelTitle {
    line-height: 36px;
    float: left;
    margin-right: 15px;
    margin-left: 3px;
    color: #1D1F23;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.searchOuter {
    float: left;
    position: relative;
    width: 0;
    height: 36px;
}
.searchIcon {
    position: absolute;
    left: 15px;
    top: 8px;
    font-size: 16px;
    color: #b1b0bc;
    z-index: 2;
}
input[type="text"].searchField {
    background-color: #31B4B0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 500;
    height: 36px;
    display: block;
    padding:3px 20px 3px 40px;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #ffffff;
    position: relative;
    z-index: 1;
    width: 0;
    padding: 3px 0 3px 0;
    -webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
.searchActivated input[type="text"].searchField {
    width: 270px;
    padding:3px 20px 3px 40px;
}
.searchActivated .searchIcon {
    color: #89ddda;
}

.tagNavBar {
    position: relative;
    line-height: 30px;
    border-top: 1px dashed #E5E7E9;
    border-bottom: 1px dashed #E5E7E9;
    padding: 12px 0 12px 60px;
    margin-bottom: 20px;
}
.tagNavBar.searchAppeared {
    margin-bottom: 28px;
}
.tagNavLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.tagNavLinks > li {
    display: table-cell;
    text-align: center;
}
.tagNavLinks > li > a {
    font-size: 15px;
    display: block;
}
.tagNavBar .labelTitle {
    position: absolute;
    left: 3px;
    top: 12px;
    line-height: 30px;
    font-size: 15px;
}
.tagsBadge {
    display: block;
    float: left;
    margin: 0 10px 14px 0;
    color: #1D1F23;
    font-size: 15px;
    font-weight: 400;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #e8eaec;
    text-align: center;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 18px;
    text-transform: lowercase;
    background-color: #fff;
    cursor: pointer;
}
.tagsBadge:hover,
.tagsBadge.active {
    color: #FFFFFF;
    background-color: #4E5766;
    border-color: #fff;
    text-decoration: none;
}
.tagGroup {
    margin-bottom: 15px;
}
.tagGroupTitle {
	color: #31B4B0;
	font-size: 42px;
	font-weight: 400;
    line-height: 52px;
    margin: 0 0 5px 5px;
}
.pillNav {
    float: left;
    list-style: none;
    padding: 20px 0 20px 0;
    margin: 0;
    clear: both;
}
.pillNav > li {
    float: left;
    color: #C1C8D6;
	font-size: 15px;
	font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.pillNav > li:first-child {
    margin-right: 10px;
}
.pillNav > li > a {
    color: #707681;
    display: block;
    padding: 0 18px 0 18px;
}
.pillNav > li > a:hover {
    border: 2px solid #219D99;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #219D99;
    line-height: 28px;
    padding: 0 16px 0 16px;
    color: #fff;
    text-decoration: none;
}
.pillNav > li > a.current {
    border: 2px solid #31B4B0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #FFFFFF;
    line-height: 28px;
    padding: 0 16px 0 16px;
    color: #219D99;
    text-decoration: none;
}
.topContributorWrapper {
    margin-left: 10px;
    display: table;
    width: 100%;
    text-align: center;
}
.topContributorHeadline {
    font-size: 19px;
    color: #1D1F23;
    float: left;
    margin: 0 0 0 10px;
    width: 100%;
    border-top: 1px dashed #E5E7E9;
    span {
        margin-top: 36px;
        float: left;
    }
}
.contributorList {
    list-style-type: none;
    display: inline-block;
    clear: both;
    padding: 0px;
    margin: 23px 0 36px 0;
    text-align:center;
}
.contributorLineItem {
    float: left;
    display: table;
    margin: 0 22px 0 22px;
}
.topContributorStation {
    font-size: 17px;
    display: table-cell;
    vertical-align: middle;
    a {
        color: #1D1F23;
    }
}
.topContributorAvatar, .topContributorRankFirst, .topContributorRank {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.topContributorAvatar {
    height: 53px;
    width: 53px;
    background: #cceae1;
    margin-right: 16px;
    overflow: hidden;
    img {
        height: 55px;
        width: 55px;
        margin-left: auto;
        margin-right: auto;
    }
}
.topContributorRank, .topContributorRankFirst {
    height: 42px;
    width: 42px;
    position: absolute;
    margin: -17px 0 0 -17px;
    border: 4px solid #fff;
}
.topContributorRankFirst {
    background: #31B4B0;
}
.topContributorRank {
    background: #C1C8D6;
}
.topContributorRankFirst span, .topContributorRank span {
    font-weight: bold;
    color: #fff;
    font-size: 21px;
    float: left;
    margin: 3px 0 0 11px;
}
.descText .time,
.postTime {
	color: #C1C8D6;
	font-size: 14px;
	font-weight: 400;
    line-height: 20px;
    display: block;
    margin-bottom: 4px;
}

.videoTop {
    padding: 20px 37px 0 38px;
    margin: -40px -37px 0 -27px;
    background-color: #31B4B0;
    color: #fff;
}
.videoInfoControls {
    float: left;
    height: 71px;
    display: table;
}
.upDownOptions {
    line-height: 23px;
    font-size: 28px;
    border-right: 1px solid #319491;
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}
.videoViewManager {
    background-color: #121212;
    margin-left: -38px;
    margin-right: -37px;
}
.videoViewManagerInside {
    margin: 0 auto;
    max-width: 75%;
    height: 100%;
    padding: 0 37px 0 38px;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.reverseThemeHoler {
    margin-top: 16px;
    padding-bottom: 15px;
}
.reverseThemeHoler .addCircle {
    color: #fff;
    border-color: #fff;
}
.reverseThemeHoler .addCircle:hover {
    color: #4E5766;
    border-color: #4E5766;
}
.reverseThemeHoler .profileDropdown::after {
    background-color: #fff;
}
.videoTopDesc {
    display: table-cell;
    vertical-align: middle;
    font-weight: 400;
    font-size: 20px;
    padding-left: 20px;
}
.underneathPlayer {
    margin: 0 0 43px 12px;
    border-bottom: 1px solid #E5E7E9;
    padding: 10px 0;
    line-height: 40px;
}
.underneathPlayer > span {
    display: block;
    float: left;
    color: #868B95;
    font-size: 17px;
	font-weight: 400;
}
.underneathPlayer > span:last-child {
    float: right;
}
.commentSection {
    padding: 0 74px 25px 86px;
}
.commentTitle {
    text-align: center;
    color: #4D5056;
    font-size: 17px;
    margin-bottom: 27px;
}
input[type="text"].noInsideLabel {
    color: #7E8389;
    padding: 17px 20px 17px 20px;
}
input[type="text"].asCommentField {
    height: 48px;
    color: #7E8389;
    border: 1px solid #E3E6EA;
    padding: 8px 50px 8px 20px;
    font-weight: 400;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px 0 rgba(21,23,26,0.08);
    -moz-box-shadow: 0 0 8px 0 rgba(21,23,26,0.08);
    box-shadow: 0 0 8px 0 rgba(21,23,26,0.08);
}
.commentEntity {
    position: relative;
    padding-left: 58px;
    margin-bottom: 27px;
    padding-bottom: 25px;
    border-bottom: 2px dotted #E5E7E9;
}
.commentorLine {
    margin-bottom: 5px;
    color: #4D5056;
    font-size: 13px;
    line-height: 20px;
}
.commentorLine > * {
    display: inline-block;
    vertical-align: middle;
}
.commentorLine a {
    font-size: 15px;
    font-weight: 400;
}
.commentorLine small {
	color: #4D5056;
	font-size: 13px;
    font-weight: 400;
}
.commentorLine span {
    margin-left: 14px;
    margin-right: 10px;
    font-size: 22px;
    color: #A69F9F;
}
.commentEntity p,
.nestedComment p {
    color: #868B95;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 25px;
}
.commentorThumb {
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    top: -4px;
    left: 0;
}
.commentorThumb img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.commentorThumb.asCommentor {
    width: 32px;
    height: 32px;
}
.commentorThumb.commentTypin {
    top: -2px;
}
.nestedComment {
    position: relative;
    padding-left: 47px;
    min-height: 48px;
}
.commentSendIcon {
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    right: 15px;
    top: 50%;
    height: 30px;
    margin-top: -15px;
    font-size: 20px;
}
.commentSendIcon .fas {
    line-height: 30px;
    color:#4e5766;
}
.nestedCommented p:last-child {
    margin-bottom: 0;
}
.hasNestedComment p:last-child {
    margin-bottom: 0;
}
.commentReplyOption {
    margin-top: -10px;
    font-weight: 400;
}
.btnReverseTheme .btn {
    border-color: #ffffff;
    background-color: #ffffff;
    color:#31B4B0;
}
.btnReverseTheme .btn.btnSecondary {
    background-color:#91E0DE;
    border: none;
    color: #238E8B;
}
.btnReverseTheme .btn:hover,
.btnReverseTheme .btn:focus,
.btnReverseTheme .btn:active,
.btnReverseTheme .btn.active {
    color: #fff;
    background-color:#197B78;
}
.btnReverseTheme .btn.btnSecondary:hover,
.btnReverseTheme .btn.btnSecondary:focus,
.btnReverseTheme .btn.btnSecondary:active,
.btnReverseTheme .btn.btnSecondary.active {
    color:#fff;
    background-color: #197B78;
}
.btnGroup.btnReverseTheme,
.btnGroup.btnGroupNoReverse {
    margin-bottom: 0;
    margin-top: 13px;
}
.btnGroup.btnGroupTopSpace {
    margin-top: 16px;
}
.redTopBox {
    padding: 20px 36px 89px 36px;
    margin: -39px -37px 36px -36px;
    background-color: #31B4B0;
    color: #fff;
}
.redBoxInsideContent {
    display: table;
    min-width: 100%;
}
.redBoxInsideContent > div {
    display: table-cell;
    vertical-align: middle;
}
.cellSpace20 {
    width: 20px;
}
.redBoxInsideContent > div.userThumbnail {
    width: 140px;
    vertical-align: top;
}
.userThumbnailHolder {
    display: block;
    width: 140px;
    height: 140px;
    position: relative;
}
.userThumbnailHolder img {
    border: 6px solid #fff;
    display: block;
    max-width: 100%;
    max-height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.hoverCamera {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 6px;
    z-index: 2;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    visibility: hidden;
}
.userThumbnailHolder:hover .hoverCamera {
    visibility: visible;
}
.hoverCamera .fas {
    position: absolute;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -10px;
}
.userActivity p {
	color: #D1F4F3;
	font-size: 17px;
	font-weight: 400;
    line-height: 25px;
    margin-bottom: 0;
}
.userActivityLine {
    margin-bottom: 13px;
    font-size: 24px;
    font-weight: 400;
}
.btnActivity {
    background-color: #279693;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 25px;
    color: #fff;
    white-space: nowrap;
    padding: 2px 15px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}
.btnActivity strong {
    color: #1E6F6D;
}
.addCircle.edit {
    font-size: 14px;
}
.hasRemover {
    position: relative;
}
.removerBar {
    position: absolute;
    top: 15px;
    right: 0;
    font-weight: 400;
    visibility: hidden;
}
.entityRow:hover .removerBar {
    visibility: visible;
}
.removerBarTrack {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #4E5766;
    color: #8D9CB6;
    line-height: 40px;
    display: block;
    width: 0;
    height: 40px;
    padding: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
.removerBarTrack a {
    color: #FFFFFF;
    text-decoration: underline;
}
.removeIcon {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 40px;
    line-height: 40px;
    border-radius: 6px;
    text-align: center;
    z-index: 2;
    font-size: 28px;
    color: #31B4B0;
}
.removeIcon:hover {
    background-color: #4E5766;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #8D9CB6;
    text-decoration: none;
}
.removerBarActivated .removeIcon {
    color: #8D9CB6;
}
.removerBarActivated .removerBarTrack {
    width: auto;
    padding: 0 45px 0 15px;
    background-color: #4E5766;
}
.postNotification {
	height: 50px;
	color: #B5C1D5;
	font-size: 16px;
	font-weight: 400;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #4E5766;
}
.notificationIsOn {
    padding-top: 50px;
}

.centerContent {
    padding: 105px 50px 100px 50px;
}
.postTopLine {
    margin-bottom: 66px;
    position: relative;
    padding-left: 88px;
    color: #1D1F23;
    font-weight: 400;
    font-size: 29px;
    line-height: 36px;
}
.postTopLine span {
    display: block;
    color: #A0A7B6;
    font-size: 17px;
    line-height: 25px;
}
.commentorThumb.size68 {
    width: 68px;
    height: 68px;
}
.hasNumberInside {
    margin-bottom: 45px;
}
input[type="text"].hasNumber {
    padding-left: 70px;
}
.ovalShape {
    display: block;
    position: absolute;
    left: 15px;
    top: 12px;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border: 3px dotted #D5D8DB;
    color: #31B4B0;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.labelFields.hasNumberInside label {
    left: 70px;
}
.tagSelected .ovalShape {
    border-color: #31B4B0;
}
.tagSelected input[type="text"] {
    font-style: normal;
    color: #31B4B0;
}
.errorIcon {
    display: block;
    position: absolute;
    left: 15px;
    top: 12px;
    width: 44px;
	height: 44px;
    border: 3px solid #4E5766;
    background-color: #4E5766;
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
    z-index: 3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    visibility: hidden;
}
.validationContent,
.dropdownItemListOuter {
	max-width: 100%;
    min-width: 200px;
	background-color: #2FA9A5;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	border-radius: 6px;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 20px;
	padding: 22px 25px;
    font-weight: 400;
    position: absolute;
    z-index: 5;
    left: 5px;
    top: 72px;
    visibility: hidden;
}
.existingTagSelection {
    float: left;
    padding: 0 0 11px 0;
}
.validationContent a {
    color: #fff;
    text-decoration: underline;
}
.validationContent::before,
.dropdownItemListOuter::before {
    position: absolute;
    top: -10px;
    left: 18px;
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #2FA9A5;
    display: inline-block;
}
.errorMsg .validationContent,
.errorMsg .errorIcon {
    visibility: visible;
}
.errorMsg input  {
    color: #2FA9A5;
    font-style: normal;
}
.dropdownItemListOuter {
    left: 50px;
    top: 80px;
	padding: 5px 0;
    visibility: visible;
}
.dropdownItemList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdownItemList > li > a {
    display: block;
    position: relative;
    line-height: 24px;
    padding: 10px 40px 10px 15px;
    border-bottom: 1px solid #3ABCB8;
    color: #fff;
}
.dropdownItemList > li > a:hover {
    text-decoration: underline;
}
.dropdownItemList > li:last-child > a {
    border-bottom: none;
    margin-bottom: 5px;
}
.createTagBtn {
    display: block;
    text-align: center;
    margin: 10px 15px 10px 15px;
    line-height: 44px;
    white-space: nowrap;
    color: #27908D;
    background-color: #FFFFFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-weight: 400;
    padding: 0 20px 0 20px;
}
.createTagBtn:hover {
    text-decoration: underline;
}
.inlineAddCircle {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid #2fa9a5;
    text-align: center;
    font-weight: 700;
    font-size: inherit;
    line-height: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.dropdownItemList > li > a .inlineAddCircle {
    position: absolute;
    background-color: #fff;
    color: #2fa9a5;
    right: 18px;
    top: 13px;
    border-color: #fff;
    font-size: 18px;
}
.dropdownItemList > li > a:hover .inlineAddCircle {
    opacity: 0.8;
}
input.hasBorder {
    border: 2px solid #31B4B0;
    padding: 26px 18px 8px 18px;
    font-style: normal;
    color: #657483;
}
input.hasRightNumber {
    padding-right: 50px;
}
.rightNumber {
    display: block;
    position: absolute;
    top: 50%;
    right:25px;
    text-align: left;
    font-weight: 700;
    color: #31B4B0;
    line-height: 24px;
    margin-top: -12px;
    z-index: 3;
    font-size: 15px;
}
.topBtnBottomGap {
    margin-bottom: 28px;
}
.lastFieldInProfile {
    margin-bottom: 32px;
}
.addCircle.dblBorder {
    position: relative;
}
.addCircle.dblBorder::before {
    position: absolute;
    display: block;
    top: -6px;
    left: -6px;
    width: 40px;
    height: 40px;
    content: "";
    border: 3px solid #248d8a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.labelFields.vidioFieldOuter {
    margin-bottom: 54px;
}
.entityList.stationList .entityRow {
    margin-bottom: 28px;
}
.btnGroup.btnGroupSpecific {
    margin-bottom: 25px;
}
.titleSpecific {
    font-size: 22px;
    line-height: 30px;
}
.tagHeadingBottomGap {
    margin-bottom: 26px;
    border-top: 1px dashed #E5E7E9;
    border-bottom: 1px dashed #E5E7E9;
}
.specificTagList .serialText {
    font-size: 30px;
}
.narrowSerialText .serialText {
    width: 34px;
}
.tagSpecificWrapper {
    padding-left: 8px;
}
.entityList.specificTagList .entityRow {
    margin-bottom: 36px;
}
.redBoxInProfile {
    padding: 15px 32px 48px 36px;
}
.btn.widthMore {
    width: 188px;
}
.validationContent.largeTooltip {
    min-width: 518px;
}
.counterOption {
    cursor: pointer;
}
.counterOption:hover {
    color: #4E5766;
}
input.grayNormal {
    color: #1D1F23;
    font-style: normal;
}
.counterOption {
    width: 23px;
    height: 23px;
    background-color: #FFFFFF;
    float: left;
    display: block;
    text-align: center;
    color: #4e5766;
    font-size: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.counterOption:hover {
    background-color: #4e5766;
    color:#31b4b0;
}
.counterValueHolder {
    float: left;
    display: block;
    text-align: center;
    color: #FFFFFF;
    padding: 0 8px;
}
.offCanvasBtnClose {
    display: none;
    font-size: 36px;
    line-height: 28px;
    font-weight: 400;
    color: #4e5766;
}
.offCanvasBtnClose:hover {
    text-decoration: none;
    color:#31b4b0;
}
.postVideoLastField {
    margin-bottom: 60px;
}
/* Content Pages */
.tagStepsWrapper {
    background-color: #ffffff;
    min-height: 100%;
    padding: 0 20px;
}
.tagStepContent {
    max-width: 670px;
    margin: 0 auto;
    padding: 55px 0 100px 0;
    ul {
        text-align: center;
        list-style-type: none;
        font-size: 17px;
        color: #A0A7B6;
        padding-bottom: 10px;
        font-style: italic;
        p {
            font-weight: 500;
            font-style: normal;
        }
        li {
            font-weight: 300;
            margin-bottom: 10px;
            span {
                color: #697283;
            }
        }
    }
}
.stepBrand {
    display: block;
    width: 144px;
    height: 34px;
    text-decoration: none;
    background: url(/images/logo.png) no-repeat center center;
    background-size: 142px;
    margin: 0 auto;
    margin-bottom: 55px;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
}
.stepBrand:hover {
    text-decoration: none;
}
.stepsIndicator {
    margin: 0 auto;
    margin-bottom: 24px;
    position: relative;
    width: 206px;
    height: 60px;
}
.stepsIndicator::after {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    top: 28px;
    z-index: 1;
    height: 0;
    border-bottom: 1px dashed #CAD0D5;
}
.stepsCircle, .stepsCircleStandalone {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 54px;
    color: #868B95;
    background-color: #ffffff;
    font-size: 29px;
    text-align: center;
    position: relative;
    font-weight: 500;
    z-index: 2;
    border: 3px solid #DAE0EA;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.stepsCircleStandalone {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.stepsCircle.passed, .stepsCircleStandalone {
    background-color: #31B4B0;
    border-color: #31B4B0;
    color: #ffffff;
}
.tagStepText {
    color: #1D1F23; 
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin-bottom: 35px;
}
.stepsPara {
    margin: 0 0 25px;
    text-align: center;
    color: #A0A7B6; 
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    list-style-type: none;
}
.stepBrandFinal {
    margin-bottom: 60px;
    margin-top: 50px;
}